@import './_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.App {
    color: rgb(53, 53, 53);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    &__mainImg {
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        .simpleParallax {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(60%);
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        @media(orientation: landscape) {
            background-color: #fff;
        }

        img {
            height: 100%;
            object-fit: contain;

            @media(orientation: landscape) {
                height: 15vh;
            }
        }
    }

    .btn {
        position: absolute;
        right: 30px;
        padding: 5px 35px;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: 700;
        border: 3px solid $logo-red;
        cursor: pointer;
        transition: .2s;
    }

    &__btnContact {
        bottom: 30px;
        background-color: transparent;
        color: $logo-red;

        &:hover {
            background-color: $logo-red;
        }
    }

    &__btnServices {
        bottom: 80px;
        background-color: $logo-red;
        color: white;

        &:hover {
            background-color: transparent;
            color: $logo-red;
        }
    }

    &__btnAbout {
        bottom: 130px;
        background-color: transparent;
        color: $logo-red;

        &:hover {
            background-color: $logo-red;
        }
    }

    &__about {
        @media(min-width: 1024px) {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            padding: 1em;
        }

        p {
            padding: 0 15px 10px;
            line-height: 1.3;

            @media(min-width: 1024px) {
                padding: 0 100px 10px;
            }

            @media(min-width: 1400px) {
                padding: 0 400px 10px;
            }
        }

        .bold {
            font-weight: 700;
        }
    }

    &__services {
        background-color: $logo-red;
        color: white;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            padding: 1em;
            font-size: 1.2em;

            @media(min-width: 1024px) {
                margin-top: 50px;
            }
        }

        p {
            padding: 0 15px 10px;
            line-height: 1.3;
            text-align: center;
        }
    }

    &__servicesFlex {
        @media(min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            padding: 50px 100px;
        }

        @media(min-width: 1400px) {
            padding: 50px 400px;
        }
    }

    &__service {
        // background-color: rgb(97, 97, 97);
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        @media(min-width: 1024px) {
            flex-basis: 50%;
        }

        @media(min-width: 1400px) {
            flex-basis: 33%;
        }

        i {
            font-size: 70px;
            text-align: center;
        }

        h1 {
            font-size: 1.1em;
        }
    }

    &__iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    &__reference {
        padding-top: 25px;

        @media(min-width: 1024px) {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        p {
            padding: 0 15px 10px;
            line-height: 1.3;

            @media(min-width: 1024px) {
                padding: 0 100px 10px;
            }

            @media(min-width: 1400px) {
                padding: 0 400px 10px;
            }
        }

        .bold {
            font-weight: 700;
        }
    }

    &__contact {
        margin-bottom: 35px;

        @media(min-width: 1024px) {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            padding: 1em;

            @media(min-width: 1024px) {
                margin-bottom: 30px;
            }
        }

        ul {
            list-style-type: circle;

            @media(min-width: 1024px) {
                padding: 0 100px 10px;
            }

            @media(min-width: 1400px) {
                padding: 0 400px 10px;
            }

            li {
                margin: 0 35px 10px;
                line-height: 1.3;

                @media(min-width: 1024px) {
                    margin: 0;
                }

                .bold {
                    font-weight: 700;
                }

                a {
                    color: rgb(53, 53, 53);
                    text-decoration: none;
                }
            }
        }
    }

    &__footer {
        background-color: rgb(53, 53, 53);
        color: white;
        padding-top: 25px;
        padding-bottom: 20px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;

        @media(min-width: 1024px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        p {
            padding: 0 30px 10px;
            line-height: 1.1;

            @media(min-width: 1024px) {
                padding: 0 100px 10px;
            }

            @media(min-width: 1400px) {
                padding: 0 400px 10px;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }

        .bold {
            font-weight: 700;
        }
    }

    &__copyright {
        padding: 15px;
        text-align: center;
    }
}